house_final/test1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57996/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57996/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57996/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/test1_service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_agent_InputMessage">
    <wsdl:part name="parameters" element="tns:agent" />
  </wsdl:message>
  <wsdl:message name="IService1_agent_OutputMessage">
    <wsdl:part name="parameters" element="tns:agentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_predict_value_InputMessage">
    <wsdl:part name="parameters" element="tns:predict_value" />
  </wsdl:message>
  <wsdl:message name="IService1_predict_value_OutputMessage">
    <wsdl:part name="parameters" element="tns:predict_valueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_value_InputMessage">
    <wsdl:part name="parameters" element="tns:add_value" />
  </wsdl:message>
  <wsdl:message name="IService1_add_value_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_valueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_value_InputMessage">
    <wsdl:part name="parameters" element="tns:get_value" />
  </wsdl:message>
  <wsdl:message name="IService1_get_value_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_valueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_offer_value_InputMessage">
    <wsdl:part name="parameters" element="tns:offer_value" />
  </wsdl:message>
  <wsdl:message name="IService1_offer_value_OutputMessage">
    <wsdl:part name="parameters" element="tns:offer_valueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_search_area_InputMessage">
    <wsdl:part name="parameters" element="tns:search_area" />
  </wsdl:message>
  <wsdl:message name="IService1_search_area_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_areaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_user_InputMessage">
    <wsdl:part name="parameters" element="tns:add_user" />
  </wsdl:message>
  <wsdl:message name="IService1_add_user_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_userResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_check_user_InputMessage">
    <wsdl:part name="parameters" element="tns:check_user" />
  </wsdl:message>
  <wsdl:message name="IService1_check_user_OutputMessage">
    <wsdl:part name="parameters" element="tns:check_userResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_get_property_InputMessage">
    <wsdl:part name="parameters" element="tns:get_property" />
  </wsdl:message>
  <wsdl:message name="IService1_get_property_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_propertyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="agent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/agent" message="tns:IService1_agent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/agentResponse" message="tns:IService1_agent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="predict_value">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/predict_value" message="tns:IService1_predict_value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/predict_valueResponse" message="tns:IService1_predict_value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_value">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_value" message="tns:IService1_add_value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_valueResponse" message="tns:IService1_add_value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_value">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_value" message="tns:IService1_get_value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_valueResponse" message="tns:IService1_get_value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="offer_value">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/offer_value" message="tns:IService1_offer_value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/offer_valueResponse" message="tns:IService1_offer_value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete" message="tns:IService1_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteResponse" message="tns:IService1_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_area">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/search_area" message="tns:IService1_search_area_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/search_areaResponse" message="tns:IService1_search_area_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_user">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_user" message="tns:IService1_add_user_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_userResponse" message="tns:IService1_add_user_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="check_user">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/check_user" message="tns:IService1_check_user_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/check_userResponse" message="tns:IService1_check_user_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_property">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/get_property" message="tns:IService1_get_property_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/get_propertyResponse" message="tns:IService1_get_property_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agent">
      <soap:operation soapAction="http://tempuri.org/IService1/agent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="predict_value">
      <soap:operation soapAction="http://tempuri.org/IService1/predict_value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_value">
      <soap:operation soapAction="http://tempuri.org/IService1/add_value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_value">
      <soap:operation soapAction="http://tempuri.org/IService1/get_value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="offer_value">
      <soap:operation soapAction="http://tempuri.org/IService1/offer_value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IService1/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_area">
      <soap:operation soapAction="http://tempuri.org/IService1/search_area" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_user">
      <soap:operation soapAction="http://tempuri.org/IService1/add_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_user">
      <soap:operation soapAction="http://tempuri.org/IService1/check_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_property">
      <soap:operation soapAction="http://tempuri.org/IService1/get_property" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57996/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>