house_final/test1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/test1_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/test1_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="BedroomAbvGr" type="xs:float" />
      <xs:element minOccurs="0" name="CentralAir" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstFlrSF" type="xs:float" />
      <xs:element minOccurs="0" name="FullBath" type="xs:float" />
      <xs:element minOccurs="0" name="GrLivArea" type="xs:float" />
      <xs:element minOccurs="0" name="HouseStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KitchenAbvGr" type="xs:float" />
      <xs:element minOccurs="0" name="LotArea" type="xs:float" />
      <xs:element minOccurs="0" name="Neighborhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverallCond" type="xs:float" />
      <xs:element minOccurs="0" name="OverallQual" type="xs:float" />
      <xs:element minOccurs="0" name="SecondFlrSF" type="xs:float" />
      <xs:element minOccurs="0" name="SellPrice" type="xs:float" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotRmsAbvGrd" type="xs:float" />
      <xs:element minOccurs="0" name="TotalBsmtSF" type="xs:float" />
      <xs:element minOccurs="0" name="Utilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearBuilt" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Details" nillable="true" type="tns:Details" />
  <xs:complexType name="HouseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bath" type="xs:int" />
      <xs:element minOccurs="0" name="BuiltYear" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOffer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfBedroom" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="SquareFt" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseDetail" nillable="true" type="tns:HouseDetail" />
  <xs:complexType name="ArrayOfHouseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseDetail" nillable="true" type="tns:HouseDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseDetail" nillable="true" type="tns:ArrayOfHouseDetail" />
</xs:schema>