house_final/test1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57996/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/test1_service" />
  <xs:element name="agent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="agentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="agentResult" nillable="true" type="q1:ArrayOfAgentDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="predict_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="d" nillable="true" type="q2:Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="predict_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predict_valueResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="h" nillable="true" type="q3:HouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_valueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_value">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="get_valueResult" nillable="true" type="q4:ArrayOfHouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="offer_value">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="offer_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="offer_valueResult" nillable="true" type="q5:ArrayOfHouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="search_area">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_areaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="search_areaResult" nillable="true" type="q6:ArrayOfHouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_user">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="u" nillable="true" type="q7:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_userResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="check_user">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_userResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="check_userResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_property">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_propertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="get_propertyResult" nillable="true" type="q8:ArrayOfHouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>