house_final/test1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/test1_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/test1_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentDetail" nillable="true" type="tns:AgentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentDetail" nillable="true" type="tns:ArrayOfAgentDetail" />
  <xs:complexType name="AgentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentDetail" nillable="true" type="tns:AgentDetail" />
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" name="BedroomAbvGr" type="xs:float" />
      <xs:element minOccurs="0" name="CentralAir" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstFlrSF" type="xs:float" />
      <xs:element minOccurs="0" name="FullBath" type="xs:float" />
      <xs:element minOccurs="0" name="GrLivArea" type="xs:float" />
      <xs:element minOccurs="0" name="HouseStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KitchenAbvGr" type="xs:float" />
      <xs:element minOccurs="0" name="LotArea" type="xs:float" />
      <xs:element minOccurs="0" name="Neighborhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverallCond" type="xs:float" />
      <xs:element minOccurs="0" name="OverallQual" type="xs:float" />
      <xs:element minOccurs="0" name="SecondFlrSF" type="xs:float" />
      <xs:element minOccurs="0" name="SellPrice" type="xs:float" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotRmsAbvGrd" type="xs:float" />
      <xs:element minOccurs="0" name="TotalBsmtSF" type="xs:float" />
      <xs:element minOccurs="0" name="Utilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearBuilt" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Details" nillable="true" type="tns:Details" />
  <xs:complexType name="HouseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bath" type="xs:int" />
      <xs:element minOccurs="0" name="BuiltYear" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfBedroom" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="SquareFt" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HouseDetail" nillable="true" type="tns:HouseDetail" />
  <xs:complexType name="ArrayOfHouseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HouseDetail" nillable="true" type="tns:HouseDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouseDetail" nillable="true" type="tns:ArrayOfHouseDetail" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="house" nillable="true" type="tns:ArrayOfHouse" />
      <xs:element minOccurs="0" name="image1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="ArrayOfHouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="House" nillable="true" type="tns:House" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHouse" nillable="true" type="tns:ArrayOfHouse" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bathtub" type="xs:int" />
      <xs:element minOccurs="0" name="bulit_year" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contact_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isoffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_of_bedroom" type="xs:int" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
      <xs:element minOccurs="0" name="squareFt" type="xs:int" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:user" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
</xs:schema>