house_final/test1/Connected Services/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57996/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/test1_service" />
  <xs:element name="predict_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="d" nillable="true" type="q1:Details" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="predict_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="predict_valueResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="h" nillable="true" type="q2:HouseDetail" />
        <xs:element minOccurs="0" name="p" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_valueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_value">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/test1_service" minOccurs="0" name="get_valueResult" nillable="true" type="q3:ArrayOfHouseDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>